@theme {
    --color-primary: #177447;
    --color-primary-container: #e5faf0;

    --color-secondary: #ffb445;
    --color-secondary-container: #f0e4d3;

    --color-title: #1f1f1e;
    --color-body: #656665;
    --color-hint: #bbbbbb;
    --color-stroke: #1f1f1e1f;

    --color-surface: #f0f0f0;
    --color-surface-low: #fafafa;
    --color-surface-high: #ffffff;
    --color-on-primary: #ffffff;
    --color-disabled: #e8ebed;

    --color-red-500: #ff636e;
    --color-red-100: #ffeeef;

    --color-yellow-500: #f5a623;
    --color-yellow-100: #fff3db;

    --color-green-500: #6bbc61;
    --color-green-100: #e4ffe0;

    --color-blue-500: #5d9ef3;
    --color-blue-100: #5d9ef3;

    --color-violet-500: #c06be8;
    --color-violet-100: #f8edfd;

    --color-outline-variant: #dbdde1;

    --color-green-light-gradiant: #177447;
    --color-green-dark-gradiant: #012815;

    --color-text-display: #1f2a37;
    --color-text-on-primary: #1f2a37;
}